In [7]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [10]:
employee_data = {
    "emp_id" : range(1,101),
    "age" : np.random.randint(20,60,100),
    "no_of_projects" : np.random.randint(1,5,100),
    "salary" : np.random.normal(2000,500,100)
}

In [11]:
df = pd.DataFrame(employee_data)
df.head()

   emp_id  age  no_of_projects       salary
0       1   32               2  2158.987493
1       2   53               4  1074.432163
2       3   26               2  2723.474772
3       4   44               4  1945.300524
4       5   43               2  2466.368238

In [12]:
def categorize_age(age):
    if 20 <= age < 30:
        return '20-30'
    elif 30 <= age < 40:
        return '30-40'
    elif 40 <= age < 50:
        return '40-50'
    elif 50 <= age < 60:
        return '50-60'
    else:
        return 'Unknown'

In [13]:
df['AgeGroup'] = df['age'].apply(categorize_age)
df.head()

   emp_id  age  no_of_projects       salary AgeGroup
0       1   32               2  2158.987493    30-40
1       2   53               4  1074.432163    50-60
2       3   26               2  2723.474772    20-30
3       4   44               4  1945.300524    40-50
4       5   43               2  2466.368238    40-50

In [14]:
statistics = df.groupby('AgeGroup')['salary'].describe()

In [15]:
print("summary statistics for salary grouped by the age group:\n", statistics)

summary statistics for salary grouped by the age group:
           count         mean         std          min          25%  \
AgeGroup
20-30      31.0  1979.824255  528.752128  1239.776534  1606.393230
30-40      23.0  2052.768624  630.305541   835.051722  1661.635775
40-50      26.0  1992.134763  449.395753  1009.722261  1739.623881
50-60      20.0  2026.646332  550.093439  1074.432163  1637.363347

                  50%          75%          max
AgeGroup
20-30     1798.994066  2331.419778  3339.175963
30-40     2077.579727  2350.320144  3405.904034
40-50     2071.657647  2316.250998  2616.905225
50-60     1978.951397  2416.349376  2998.935227

In [22]:
max_sal = df.groupby('AgeGroup')['salary'].max()
max_sal

AgeGroup
20-30    3339.175963
30-40    3405.904034
40-50    2616.905225
50-60    2998.935227
Name: salary, dtype: float64

In [23]:
min_sal = df.groupby('AgeGroup')['salary'].min()
min_sal

AgeGroup
20-30    1239.776534
30-40     835.051722
40-50    1009.722261
50-60    1074.432163
Name: salary, dtype: float64

In [24]:
range = max_sal - min_sal

In [25]:
range

AgeGroup
20-30    2099.399429
30-40    2570.852312
40-50    1607.182964
50-60    1924.503064
Name: salary, dtype: float64

In [29]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## iris dataset

In [3]:
import pandas as pd
import seaborn as sns

# Load Iris dataset from seaborn
df = sns.load_dataset('iris')

# Group by species and get summary statistics
grouped_stats = df.groupby('species').agg(['mean', 'median', 'min', 'max', 'std'])

# Print summary statistics
print(grouped_stats)

           sepal_length                            sepal_width              \
                   mean median  min  max       std        mean median  min
species
setosa            5.006    5.0  4.3  5.8  0.352490       3.428    3.4  2.3
versicolor        5.936    5.9  4.9  7.0  0.516171       2.770    2.8  2.0
virginica         6.588    6.5  4.9  7.9  0.635880       2.974    3.0  2.2

                          petal_length                            petal_width  \
            max       std         mean median  min  max       std        mean
species
setosa      4.4  0.379064        1.462   1.50  1.0  1.9  0.173664       0.246
versicolor  3.4  0.313798        4.260   4.35  3.0  5.1  0.469911       1.326
virginica   3.8  0.322497        5.552   5.55  4.5  6.9  0.551895       2.026


           median  min  max       std
species
setosa        0.2  0.1  0.6  0.105386
versicolor    1.3  1.0  1.8  0.197753
virginica     2.0  1.4  2.5  0.274650

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=1.2 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\shreyas\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shreyas\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\shreyas\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# Create a dictionary with species as keys and list of sepal_lengths as values
sepal_length_by_species = df.groupby('species')['sepal_length'].apply(list).to_dict()

print(sepal_length_by_species)

{'setosa': [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0], 'versicolor': [7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7], 'virginica': [6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]}

In [6]:
#PART 2: Statistical Summary of Each Iris Species
# Filter data for each species
setosa = df[df['species'] == 'setosa']
versicolor = df[df['species'] == 'versicolor']
virginica = df[df['species'] == 'virginica']

# Function to display statistics
def display_stats(data, name):
    print(f"\nStatistics for {name}:\n")
    print(data.describe(percentiles=[.25, .5, .75]))

# Show stats
display_stats(setosa, "Iris-setosa")
display_stats(versicolor, "Iris-versicolor")
display_stats(virginica, "Iris-virginica")

Statistics for Iris-setosa:

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

Statistics for Iris-versicolor:

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Statistics for Iris-virginica:

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000